* {
	font-family: 'Exo', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
main {
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: 
		"menus time"
		"menus list";
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}
#menus {
	overflow-y: scroll;
	height: 100vh;
	grid-area:menus;
}

aside input[type="number"] {
	width: 3rem;
}


aside#main {
	background: #9d6b53;
	display: grid;
	grid-template-rows: 1fr 1fr;
}
aside#addHW {
	background: #9d6b53;
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 1rem;
}

aside#addClass {
	background: #9d6b53;
	display: block;
	height: 100%;
	flex-direction: column;
	padding: 1rem;
}
aside#addClass * {
	padding: .5rem;
}
aside#addClass *, aside#addHW * {
	margin-right: auto;
}

aside#addHW, aside#addClass {
	display:none;
}

#controls {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
#controls *{
	margin: auto;
}

#monster {
	border: 1rem outset brown;
	padding: 1rem;
	margin: 1rem;
}

#info {
	grid-area: time;
	background: #9d6b53;
	padding: auto;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

#todolist {
	grid-area: list;
	background: tan;
	height: 100%;
	overflow-y: scroll;
}

.hwli {
	margin: 1rem;
	padding: 1rem;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 8fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "check title due edit"
						 "check class due edit";
	box-shadow: 0 .5rem 1rem black;
	transition: box-shadow .35s;
	border-left-width: 1rem;
	border-left-style: solid;
}
.hwli:hover {
	box-shadow: 0 .75rem 1rem black;
}
.hwli:hover h5 {
	text-shadow: 0 0 5px lime; 
}
.hwli:after {
	grid-area: check;
	align-self: center;
	justify-self: center;
	text-align: center;
	content: "⬛";
	transition: text-shadow .35s, content .35s;
	margin: auto;
	margin-left: 1rem;
}
.hwli:hover:after {
	text-shadow: 0 0 15px lime;
	content: '✅';
}
.hwli[data-completed="true"] {
	display: none;
	opacity: 50%;
}
.hwli[data-completed="true"]:after {
	text-shadow: 0 0 15px lime;
	content: '✅';
}
.hwli[data-completed="true"]:hover:after {
	
	text-shadow: none;
	content: "⬛";
}

.hwli h2 {
	grid-area: title;
	text-align: center;
	align-self: center;
	justify-self: center;
	margin:auto;
}
.hwli p {
	grid-area: class;
	text-align: center;
	vertical-align: middle;
	margin:auto;
}
.hwli h4 {
	grid-area: due;
	text-align: center;
	vertical-align: middle;
	margin:auto;
}
.hwli h5 {
	grid-area: instruct;
	text-align: center;
	vertical-align: middle;
	transition: text-shadow .35s;
	margin:auto;
}

.hwli button {
	grid-area: edit;
	width: 3rem;
	font-weight: bold;
	height: 2rem; 
	margin: auto;
	margin-right: 1rem;
}
.hwli > * {
}

#classFilters > * {
	padding: .5rem;
	border-radius: 3px;
	margin: .5rem;
}